<mat-toolbar color="primary" class="mat-elevation-z4 o-toolbar">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="o-toolbar-image">
    <img [src]="logo">
  </div>

  <span class="o-toolbar-title">Oh My AngularNest</span>
</mat-toolbar>

<mat-drawer-container class="o-drawer-container">
  <mat-drawer #drawer [mode]="mode" [opened]="opened" class="mat-elevation-z2 o-drawer">
    <div class="o-filling"></div>

    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="hello-world">Hello World</mat-list-item>
      <mat-list-item role="listitem" routerLink="sort-filter-list">Sort Filter List</mat-list-item>
      <mat-list-item role="listitem" routerLink="counter">Counter (NGXS)</mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

<ng-template ngFor let-item [ngForOf]="navigation">
  <mat-divider *ngIf="item.divider"></mat-divider>
  <div *ngIf="item.subheader" class="mat-typography o-subheader">{{ item.subheader }}</div>

  <!-- if children -->
  <mat-expansion-panel *ngIf="item.children; else notChildren" class="o-expansion-panel">
    <mat-expansion-panel-header expandedHeight="48px">
      <mat-panel-title class="o-nav-item">
        <mat-icon class="o-nav-icon">{{ item.icon }}</mat-icon>{{ item.text }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template ngFor let-childItem [ngForOf]="item.children">
      <!-- if sub-children -->
      <mat-expansion-panel *ngIf="childItem.children; else notSubChildren" #expansionPanelRef class="o-expansion-panel" hideToggle>
        <mat-expansion-panel-header expandedHeight="48px" class="o-list-item o-list-item--child" style="padding-left: 32px;">
          <mat-panel-title>
            <mat-icon style="margin-right: 0.5rem;">{{ expansionPanelRef.expanded ? 'arrow_drop_up' : 'arrow_drop_down' }}</mat-icon>
            {{ childItem.text }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template ngFor let-subChildItem [ngForOf]="childItem.children">
          <mat-list role="list" class="o-list">
            <mat-list-item role="listitem" routerLink="" class="o-list-item o-list-item--child">{{ subChildItem.text }}</mat-list-item>
          </mat-list>
        </ng-template>
      </mat-expansion-panel>

      <!-- else not sub-children -->
      <ng-template #notSubChildren>
        <mat-list role="list" class="o-list">
          <mat-list-item role="listitem" [routerLink]="childItem.route" class="o-list-item o-list-item--child">{{ childItem.text }}</mat-list-item>
        </mat-list>
      </ng-template>
    </ng-template>


  </mat-expansion-panel>

  <!-- <mat-expansion-panel class="o-expansion-panel">
    <mat-expansion-panel-header expandedHeight="48px">
      <mat-panel-title class="o-nav-item">
        <mat-icon class="o-nav-icon">face</mat-icon>Link B
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list" class="o-list">
      <mat-list-item role="listitem" routerLink="" class="o-list-item o-list-item--child">Link B-1</mat-list-item>
      <mat-list-item role="listitem" routerLink="" class="o-list-item o-list-item--child">Link B-2</mat-list-item>
    </mat-list>
  </mat-expansion-panel> -->

  <!-- else not children -->
  <ng-template #notChildren>
    <mat-list role="list" class="o-list">
      <mat-list-item role="listitem" [routerLink]="item.route" class="o-list-item">
        <mat-icon class="o-nav-icon">{{ item.icon }}</mat-icon>{{ item.text }}
      </mat-list-item>
    </mat-list>
  </ng-template>
</ng-template>



  </mat-drawer>

  <mat-drawer-content>
    <div class="o-filling"></div>

    <div class="o-page">
      <router-outlet></router-outlet>
      <div class="o-spacer"></div>
      <div class="o-footer">Footer</div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
