.toolbar
  top 0
  left auto
  right 0
  position fixed
  width 100%

.title
  margin-left .5rem

.filling
  padding-top 64px

.category
  font-size 10px
  letter-spacing 1px
  line-height 24px
  text-transform uppercase
  font-weight 400
  margin 0
  padding 0 16px
  background rgba(0, 0, 0, .32)
  color hsla(0, 0%, 100%, .87)

.variety
  list-style-type none
  margin 0
  padding 0
  color rgba(0, 0, 0, .54)

  & > li
    box-sizing border-box
    display block
    font-size 14px
    font-weight 400
    line-height 47px
    text-decoration none
    transition all .3s
    padding 0 16px
    position relative
    border-bottom-width 1px
    border-bottom-style solid
    border-color rgba(0, 0, 0, .06)

.enable
  cursor pointer
  outline none

.disabled
  color rgba(0, 0, 0, .2)
  cursor not-allowed

.content
  height 100vh
  display flex
  flex-direction column

.container
  padding 1rem
  flex 1 0 auto

.plane
  display flex
  justify-content center

  &__cards
    display flex
    flex-flow row wrap

  &__card
    width 12.5rem
    margin 20px

    &--disabled
      background-color rgba(0, 0, 0, .12)
      color rgba(0, 0, 0, .38)
      cursor not-allowed

header
  background #3f51b5
  font-family 'Roboto'
  font-weight 300
  padding 28px
  font-size 20px
  box-sizing border-box
  color hsla(0, 0%, 100%, .87)

.footer
  margin-top 40px
  padding 12px
  font-size 12px
  background #3f51b5
  color hsla(0, 0%, 100%, .87)
  display flex
  flex-flow row

  &__logo
    width 50px
    height 50px

  &__links
    // ...
