doctype html
html(lang='')
  head
    title Angular2TS Starter Kit
    script(src='./lib/core-js/client/shim.min.js')
    script(src='./lib/systemjs/dist/system.src.js')
    script(src='./lib/zone.js/dist/zone.js')
    script(src='./system.config.js')
    script.
      System.config(config);
      System.import('app').catch(function(err){console.error(err);});
  body
    app Loading...
