doctype html
html(lang='')
  head
    title Angular2TS Starter Kit
    script(src='./lib/es6-shim/es6-shim.min.js')
    script(src='./lib/zone.js/dist/zone.js')
    script(src='./lib/reflect-metadata/Reflect.js')
    script(src='./lib/systemjs/dist/system.src.js')
    script(src='./systemjs.config.js')
    script.
      System
        .import('app')
        .catch(function(err) {
          console.error(err);
        });
  body
    app Loading...
