doctype html
html(lang='')
  head
    title Angular2TS Starter Kit
    script(src='./libs/angular2-polyfills.js')
    script(src='./libs/system.src.js')
    base(href='/')
    script.
      System.import('app').catch(function(err){ console.error(err); });
  body
    app Loading...
